<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base href="{{compiler.publicPath}}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{#unless compiler.isProduction}}[DEV] {{/unless}}{{title}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />

  {{#if compiler.isProduction}}
  <link rel="stylesheet" href="{{compiler.hash}}.css">
  {{/if}}
</head>
<body ontouchstart="">
  <main>
    <section class="controls">
      <div class="progress-wrapper"></div>
      <div class="button-wrapper"></div>
    </section>
    <section class="landmark-generator-wrapper"></section>
  </main>
  <script type="text/javascript">
    window.isProduction = {{ compiler.isProduction }}
  </script>
  <script src="{{compiler.hash}}.js"></script>
</body>
</html>
